body {
    /*    font-size: 12px;
        font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
        color: #000000;
        margin: 10px;*/
    background-color: rgb(249, 252, 221);

}

/*h1 {
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}
ul {
    list-style: none;
    text-align: left;
    margin-bottom: 10%;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.ui-spinner-input {
    margin-right: 18px;
}
.ui-spinner-button {
    height: 13px;
}
.ui-spinner {
    height: 30px;
}
.ui-messages-info, .ui-messages-error {
    margin-top: 0px;
    margin-bottom: 0px;
}
#primaryInfo, #stats {
    font-size: 16px;
    font-family: sans-serif;
}
.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}
.ui-button {
    position: absolute;
}
th, td {
    vertical-align: top;
}*/
/*.ui-message-error {
    width: 200px;
}*/