<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://java.sun.com/jsf">

    <ui:define name="top">
        welcome <h:outputFormat value="#{userManager.sessionManager.name}"/>
    </ui:define>

    <ui:define name="left">
    </ui:define>

    <ui:define name="content">
        <h1><small>Admin panel</small></h1>

        <!-- both panels -->
        <div class="row-fluid">

            <div class="span6 well well-small">
                   
                <h:panelGroup layout="block" id="newsInView">
                    <h:form id="news">
                        <!-- SIZES -->
                        <h:panelGroup id="sizes">
                            <div class="row-fluid">
                                <h:outputFormat class="badge badge-success pull-left"
                                                value="#{adminManager.adminNewsHolder.dbSize}" title="Number of all news in db"/>
                                <h:outputFormat class="badge badge-info pull-left"
                                                value="#{adminManager.adminNewsHolder.numberOfAcceptedNews}" title="Number of accepted news"/>
                                <h:outputFormat class="badge badge-warning pull-left"
                                                value="#{adminManager.adminNewsHolder.numberOfUnacceptedNews}" title="Number of unaccepted news"/>

                            </div>
                        </h:panelGroup>



                        <!-- BUTTONS -->
                        <div class="row-fluid text-right">
                            <!--   ############################     -->
                            <h:commandButton class="btn btn-success btn-small" value="Select all" disabled="true"/>
                            <!--   ############################     -->
                            <h:commandButton class="btn btn-warning btn-small" value="Accept"
                                             actionListener="#{adminManager.acceptSelectedNews()}">
                                <!-- probably too much here -->
                                <f:ajax render=":newsInView :news sizes" execute=":news @this"/>
                            </h:commandButton>

                            <h:commandButton class="btn btn-danger btn-small" value="Discard"
                                             actionListener="#{adminManager.discardSelectedNews()}">
                                <f:ajax render=":newsInView :news sizes" execute=":news @this"/>

                            </h:commandButton>
                            <h:commandButton class="btn btn-inverse btn-small" value="Delete"
                                             actionListener="#{adminManager.deleteSelectedNews()}">
                                <f:ajax render=":newsInView :news sizes" execute=":news @this"/>

                            </h:commandButton>
                        </div>


                        <!-- DISPLAYING -->
                        <div class="row-fluid">
                            <b>
                                <h:outputFormat id="displaying" class="pull-left" 
                                                value="Displaying #{adminManager.adminNewsHolder.portionFrom} - #{adminManager.adminNewsHolder.portionTo} / #{adminManager.adminNewsHolder.dbSize}"/>
                            </b>
                        </div>

                        <!-- TABS -->
                        <div class="row-fluid text-center">
                            <h:commandLink class="badge" actionListener="#{adminManager.adminNewsHolder.loadPreviousPortion()}">&lt;
                                <f:ajax render=":newsInView displaying"/>
                            </h:commandLink>
                            <h:commandLink class="badge" actionListener="#{adminManager.adminNewsHolder.loadNextPortion()}">&gt;
                                <f:ajax render=":newsInView displaying"/>
                            </h:commandLink>
                        </div>



                        <!-- NEWS -->
                        <c:set value="#{adminManager.adminNewsHolder.lastPortionOfNews}" var="allNews" scope="request"/>
                        <c:forEach items="#{allNews}" var="news">

                            <div class="row-fluid">
                                <div class="span1">
                                    <h:selectBooleanCheckbox id="select#{news.idNews}" 
                                                             value="#{adminManager.selectedNews[news.idNews]}"/>
                                </div>
                                <div>

                                    <h:panelGroup>
                                        <div class="offset1">

                                            <c:if test="#{news.acceptedByAdmin}">
                                                <h:outputFormat class="badge badge-info pull-right" title="Accepted" value="a"/>
                                            </c:if>
                                            <c:if test="#{!news.acceptedByAdmin}">
                                                <h:outputFormat class="badge badge-warning pull-right" title="Unaccepted" value="u"/>
                                            </c:if>




                                            <a href="#newsDetail#{news.idNews}" role="button"  data-toggle="modal">
                                                <h:outputFormat class="lead" value="#{news.title}"/></a>
                                            <div id="newsDetail#{news.idNews}" class="modal hide fade" tabindex="-1" role="dialog" 
                                                 aria-labelledby="newsDetailLabel" aria-hidden="true">



                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h3 id="myModalLabel">
                                                        <h:outputFormat value="#{news.title}"/>

                                                        <c:if test="#{news.tags ne null and news.tags ne ''}">
                                                            <div class="label label-info">
                                                                <h:outputFormat value="#{news.tags}"/>
                                                            </div>
                                                        </c:if>

                                                    </h3>
                                                </div>
                                                <div class="modal-body">
                                                    <h:outputFormat value="#{news.text}"/>
                                                    <div class="modal-footer">
                                                        <small><b><h:outputFormat class="pull-left text-success" value="#{userManager.getUserMailFromId(news.reporterId)}"/></b></small>

                                                        <h:outputFormat class="label label-info" value="#{news.createdOn}"/>
                                                    </div>
                                                </div>

                                            </div>




                                        </div>

                                        <h:outputFormat value="#{newsUtils.getNewsStartText(news)}"/>
                                    </h:panelGroup>
                                    <h:panelGrid columns="2">

                                        <h:outputFormat styleClass="label" value="#{newsUtils.getAuthorMail(news.reporterId)}"/>

                                        <h:outputFormat styleClass="label label-info" value="#{news.createdOn}"/>

                                    </h:panelGrid>
                                </div>

                            </div>


                            <br/>
                        </c:forEach>



                        <div class="text-center">

                            <h:commandLink class="badge" actionListener="#{adminManager.adminNewsHolder.loadPreviousPortion()}">&lt;
                                <f:ajax render=":newsInView displaying"/>
                            </h:commandLink>
                            <h:commandLink class="badge" actionListener="#{adminManager.adminNewsHolder.loadNextPortion()}">&gt;
                                <f:ajax render=":newsInView displaying"/>
                            </h:commandLink>

                        </div>
                    </h:form>

                </h:panelGroup>

            </div>




            <!-- USERS -->

            <div class="span6 well well-small">
                <h:form id="right">
                    <div class="row-fluid">

                        <h:outputFormat class="badge badge-success pull-left"
                                        value="#{adminManager.usersHolder.dbSize}" title="Number of all users in db"/>
                        <h:outputFormat class="badge badge-info pull-left"
                                        value="#{adminManager.usersHolder.numberOfAdmins}" title="Number of admins"/>
                        <h:outputFormat class="badge badge-warning pull-left"
                                        value="#{adminManager.usersHolder.numberOfPlainUsers}" title="Number plain users"/>


                        <hr/>
                        <div class="row-fluid">
                            <b>
                                <h:outputFormat id="displayingUsers" class="pull-left" 
                                                value="Displaying #{adminManager.usersHolder.portionFrom} - 
                                                #{adminManager.usersHolder.portionTo} / #{adminManager.usersHolder.dbSize}"/>

                            </b>

                        </div>


                        <div class="text-center">
                        <h:commandLink class="badge" actionListener="#{adminManager.usersHolder.loadPreviousPortion()}">&lt;
                            <f:ajax render="usersInView displayingUsers"/>
                        </h:commandLink>
                        <h:commandLink class="badge" actionListener="#{adminManager.usersHolder.loadNextPortion()}">&gt;
                            <f:ajax render="usersInView displayingUsers"/>
                        </h:commandLink>
                        </div>

                        <h:panelGroup id="usersInView">
                            <c:set value="#{adminManager.usersHolder.lastPortionOfUsers}" var="users" scope="request"/>
                            <c:forEach items="#{users}" var="user">
                                <div class="well">
                                    <div class="row-fluid">

                                        <b><h:outputFormat value="#{user.name}"/></b>
                                        <b><h:outputFormat value="#{user.lastName}"/></b>
                                        <c:if test="#{user.isAdmin}">
                                            <h:outputFormat class="badge badge-info pull-right" title="Admin" value="A"/>
                                        </c:if>
                                        <c:if test="#{not user.isAdmin}">
                                            <h:outputFormat class="badge badge-warning pull-right" title="Plain user" value="p"/>

                                        </c:if>
                                    </div>

                                    <a href="#userDetail#{user.idUserAccount}" role="button"  data-toggle="modal">
                                        <h:outputFormat value="#{user.mail}"/></a>
                                    <div id="userDetail#{user.idUserAccount}" class="modal hide fade" tabindex="-1" role="dialog" 
                                         aria-labelledby="userDetailLabel" aria-hidden="true">



                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 id="myModalLabel">
                                                <c:if test="#{user.name ne ''}">
                                                    <h:outputFormat value="#{user.name} #{user.lastName}"/>
                                                    <small><h:outputFormat value="#{user.mail}"/></small>
                                                </c:if>
                                                <c:if test="#{user.name eq ''}">
                                                    <h:outputFormat value="#{user.mail}"/>
                                                </c:if>
                                            </h3>
                                        </div>
                                        <div class="modal-body">
                                            <c:choose>
                                            <c:when test="#{user.idUserAccount eq userManager.sessionManager.idUser}">
                                                <h:commandButton value="Give admin rights" class="btn btn-small btn-primary"
                                                             actionListener="#{adminManager.usersHolder.makeAdmin(user.idUserAccount)}"
                                                             disabled="true"/>
                                            <h:commandButton value="Take admin rights" class="btn btn-small btn-warning"
                                                             actionListener="#{adminManager.usersHolder.takeAdminRights(user.idUserAccount)}"
                                                             disabled="true"/>
                                            </c:when>
                                                <c:otherwise>
                                               <h:commandButton value="Give admin rights" class="btn btn-small btn-primary"
                                                             actionListener="#{adminManager.usersHolder.makeAdmin(user.idUserAccount)}"/>
                                            <h:commandButton value="Take admin rights" class="btn btn-small btn-warning"
                                                             actionListener="#{adminManager.usersHolder.takeAdminRights(user.idUserAccount)}"/>
                                                </c:otherwise>

                                            </c:choose>
                                
                                        </div>

                                    </div>





                                </div>
                            </c:forEach>
                        </h:panelGroup>
                    </div>
                </h:form>
            </div>

        </div>


    </ui:define>

    <ui:define name="right">

    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
