<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">
        Edit profile
    </ui:define>

    <ui:define name="left">
    </ui:define>

    <ui:define name="content">
        <h:graphicImage url="/img/users/default_user_icon.jpg" width="180" height="180"/>
        <div>
        
            
 
<h:form enctype="multipart/form-data">  
  
    <p:fileUpload fileUploadListener="#{fileUploader.uploadFileHandler}"  
            mode="advanced"
            sizeLimit="100000"
            
            styleClass="unstyled"
            />  
  
     
  
</h:form> 

        </div>
        


    </ui:define>

    <ui:define name="right">
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
