<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./simpleTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="top">
        Error!
    </ui:define>

    <ui:define name="content">

        <c:if test="#{errorManager.minutesToWait gt 0}">
            <b><h:outputFormat value="#{errorManager.errorUtils.errorMainMessage}"/></b>
            <br/>
            <h:outputFormat value="#{errorManager.errorUtils.errorSubMessage}"/>
            <br/>

            <h:outputFormat class="lead" value="#{errorManager.minutesToWait} minutes to unlock."/>
        </c:if>

        <c:if test="#{errorManager.minutesToWait le 0}">
            <b><h:outputFormat value="#{errorManager.errorUtils.errorMainMessage}"/></b>
            <br/>
            <h:outputFormat value="#{errorManager.errorUtils.errorSubMessage}"/>
            <br/>

        </c:if>
    </ui:define>

    <ui:define name="bottom">
        <h5>
            Radek Starczynowski
            <br/>
            <small>
                radek.starczynowski@gmail.com
            </small></h5>
    </ui:define>

</ui:composition>
