<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="top">
        Latest news
    </ui:define>
    <ui:define name="left">

    </ui:define>
    <ui:define name="right">

    </ui:define>

    <ui:define name="content">
        <p:growl globalOnly="true" showDetail="true" showSummary="true"/>
        <div>
            <c:forEach items="#{userNewsHolder.lastPortionOfAcceptedNews}" var="news">
                <h:form>

                    <h:commandLink class="lead" value="#{news.title}"/>
                    <br/>
                    <h:outputFormat value="#{newsUtils.getNewsStartText(news)}"/>
      
                </h:form>
            </c:forEach>
        </div>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
