<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="top">
        Log in
    </ui:define>

    <ui:define name="left">
    </ui:define>

    <ui:define name="content">

        <h:form id="logInForm" class="form-horizontal right">
            <div class="control-group">
                <h:panelGrid id="logInGrid" columns="3">
                    <span class="label label-info">Enter Your mail</span>
                    <div class="controls">
                        <h:inputText id="enteredMail" value="#{loginManager.enteredMail}"
                                     title="Enter Your mail">
                            <f:validator validatorId="validators.mailValidator"/>
                        </h:inputText>
                        <p:message id="enteredMailMessage" for="enteredMail" showSummary="true" showDetail="true"/>
                    </div>
                </h:panelGrid>
            </div>
            <div class="control-group">
                <h:panelGrid columns="3">
                    <span class="label label-info">Enter Your password</span>

                    <div class="controls">
                        <p:password id="enteredPassword"  value="#{loginManager.enteredPassword}" 
                                    feedback="false" inline="true">
                            <f:validator validatorId="validators.passwordValidator"/>
                        </p:password>
                        <p:message id="enteredPasswordMessage" for="enteredPassword"
                                   showSummary="true" showDetail="true"/>
                    </div>
                </h:panelGrid>
            </div>


            <div class="row">
                <div class="span3 text-center">

                    <h:commandButton value="Log in" 
                                     action="#{loginManager.logIn('index')}" 
                                     styleClass="btn btn-primary"/>

                </div>
                <div>
                    <c:if test="#{loginManager.userManager.numberOfLoginTries ge 3}">


                        <h:form id="passwordChanger">

                            <h:panelGroup id="send" rendered="#{loginManager.userManager.numberOfLoginTries ge 3}">
                                <div class="offset1">
                                    <h:panelGroup id="llll">


                                        <span class="label label-important">Did You forget Your password?</span>
                                        <h:commandButton value="Yes" class="btn btn-small"
                                                         actionListener="#{loginManager.yesIForgot()}">
                                            <f:ajax render="grid" execute="@form llll grid"/>
                                        </h:commandButton>
                                    </h:panelGroup>
                                </div>

                                <div class="row">
                                    <div class="span6">   
                                        <h:panelGroup id="grid">
                                            <c:if test="#{loginManager.forgot eq true}">
                                                <h:panelGroup id="group" rendered="#{loginManager.forgot}">
                                                    <div>
                                                        <h:outputText 
                                                            value="Do You want me to send a rescuing mail on"/>

                                                        <strong>
                                                            <h:outputText value="#{loginManager.enteredMail}?"/>
                                                        </strong>
                                                        <h:commandButton value="Yes" class="btn btn-small"
                                                                         action="#{loginManager.sendReseter('index')}"
                                                                         immediate="true"/>

                                                        <h:commandButton value="No" actionListener="#{loginManager.dontSend()}"
                                                                         class="btn btn-small" immediate="true"/>
                                                    </div>
                                                </h:panelGroup>
                                            </c:if>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </h:panelGroup>


                        </h:form>

                    </c:if>
                </div>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="right">
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
