<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        <h:outputFormat value="#{userManager.sessionManager.name} #{userManager.sessionManager.lastName}"/>
    </ui:define>

    <ui:define name="left">

    </ui:define>

    <ui:define name="content">

        <div class="row-fluid">

            <div class="span2">

                <h:form id="photoForm">
                    <div class="well-small">
                        <a href="#photo" role="button" data-toggle="modal" class="thumbnail">
                            <h:graphicImage url="#{userManager.sessionManager.pathToProfilePhoto}" width="96" height="96"/>
                        </a>

                        <div id="photo" style="background-color: rgb(238, 245, 189);" class="modal hide fade" tabindex="-1" role="dialog" 
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <button type="button" class="close" style="margin-right: 5px; color: black;" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <div class="modal-body">

                                <h:graphicImage url="#{userManager.sessionManager.pathToProfilePhoto}" width="200" height="200"/>


                            </div>
                            
                        </div>
                        <b>
                            <h:outputFormat value="#{userManager.sessionManager.name} #{userManager.sessionManager.lastName}"
                                            class="text-warning"/>
                        </b>
                    </div>
                </h:form>
            </div>
            <div class="span8">
                <h:form>
                    <div class="well-small">

                        


                    </div>
                </h:form>
            </div>

        </div>



        <div class="row-fluid">
            <h:form id="menu">
                <div class="well">

                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#info" data-toggle="tab">Info</a>
                            </li>
                            <li>
                                <a href="#social" data-toggle="tab">Social</a>
                            </li>
                            <li>
                                <a href="#observed" data-toggle="tab">Observed</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="info">
                                <div class="row-fluid">
                                    <h:commandButton class="btn btn-primary btn-small pull-right" value="Edit"/>
                                </div>
                                <div class="row-fluid">
                                    <h:panelGrid columns="2">
                                        <h:outputLabel class="label label-info" for="name" value="Name"/>
                                        <h:outputFormat id="name" value="#{userManager.sessionManager.name}"
                                                        class="text-success"/>

                                        <h:outputLabel class="label label-info" for="lastName" value="Last name"/>
                                        <h:outputFormat id="lastName" value="#{userManager.sessionManager.lastName}"
                                                        class="text-success"/>

                                        <h:outputLabel class="label label-info" for="mail" value="Mail"/>
                                        <h:outputFormat id="mail" value="#{userManager.sessionManager.userMail}"
                                                        class="text-success"/>



                                    </h:panelGrid>
                                </div>
                            </div>
                            <div class="tab-pane" id="social">
                                <div class="well span6">
                                    
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="observed">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <h:graphicImage class="media-object" url="#{userManager.sessionManager.pathToProfilePhoto}"
                                                        width="64" height="64"/>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">name lastName</h5>
                                        text
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </h:form>
        </div>

    </ui:define>

    <ui:define name="right">
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
