<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Register
    </ui:define>

    <ui:define name="content">
        <div class="well">
            <p class="text-info">
            <h:outputFormat value="Hey, we need some info about You. Only red are required.
                            More info You can add after logging in."/>
            </p>
        </div>
        
        <h:form id="accountForm" class="form-horizontal right">
            <div class="control-group">
                <h:panelGrid id="mailGrid" columns="4">
                    <span class="label label-important">Enter Your mail</span>
                    <div class="controls">
                        <h:inputText id="mail" value="#{registerManager.enteredMail}" title="Enter Your mail.." 
                                     binding="#{registerManager.mailInput}">
                            <f:validator validatorId="validators.mailValidator"/>
                            
                        </h:inputText>
                        <p:commandButton id="check" value="Check" update="mailGrid" ajax="true"
                                         process="@parent" actionListener="#{registerManager.mailAval()}"
                                         styleClass="btn-small btn-success" partialSubmit="true">
                        </p:commandButton>
                        <p:message id="mailAvalCheck" for="mail" showSummary="true" showDetail="false"/>
                    </div>
                </h:panelGrid>
            </div>

            <div class="control-group">
                <h:panelGrid columns="3">
                    <span class="label label-important">Enter Your password</span>

                    <div class="controls">
                        <p:password id="passwd"  value="#{registerManager.enteredPassword}" 
                                    feedback="true" inline="true" binding="#{registerManager.passwordInput}">
                            <f:validator validatorId="validators.passwordValidator"/>
                        </p:password>
                        <p:message id="defaultPasswdMessage" for="passwd" showSummary="true" showDetail="false"/>
                    </div>
                </h:panelGrid>
            </div>

            <div class="control-group">
                <h:panelGrid columns="3">
                    <span class="label label-important">Repeat Your password</span>

                    <div class="controls">
                        <p:password id="repasswd"  value="#{registerManager.enteredRepassword}" 
                                    feedback="true" inline="true" binding="#{registerManager.repasswordInput}"/>
                        <p:message id="defaultRepasswdMessage" for="repasswd" 
                                   showSummary="true" showDetail="false"/>
                    </div>
                </h:panelGrid>
            </div>

            <div class="control-group">
                <h:panelGrid columns="3">
                    <span class="label label-info">Enter Your name</span>
                    <div class="controls">
                        <h:inputText id="name" value="#{registerManager.enteredName}" 
                                     binding="#{registerManager.nameInput}">
                            <f:validator validatorId="validators.nameValidator"/>
                        </h:inputText>
                        <p:message id="defaulNametMessage" for="name" showSummary="true"/>
                    </div>
                </h:panelGrid>
            </div>

            <div class="control-group">
                <h:panelGrid columns="3">
                    <span class="label label-info">Enter Your last name</span>
                    <div class="controls">
                        <h:inputText id="lastname" value="#{registerManager.enteredLastName}" 
                                     binding="#{registerManager.lastNameInput}">
                            <f:validator validatorId="validators.nameValidator"/>
                        </h:inputText>
                        <p:message id="defaultLastNameMessage" for="lastname" showSummary="true"/>
                    </div>
                </h:panelGrid>
            </div>
            <p>
                <div class="span1">
                    <h:commandButton value="Create!" 
                                     action="#{registerManager.createNewAccount('index')}" 
                                     styleClass="btn btn-success"/>
                </div>
                <div class="span1">
                    <h:commandButton immediate="true" value="Clear" id="clear" 
                                     actionListener="#{registerManager.clear}" 
                                     styleClass="btn btn-warning">
                        <f:ajax render="accountForm"/>
                    </h:commandButton>
                </div>
            </p>
        </h:form>
        
        <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
        <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
            <f:facet name="start">  
                <p:graphicImage value="/img/loading.gif" />  
            </f:facet>  

            <f:facet name="complete">  
                <h:outputText value=""/>  
            </f:facet>  
        </p:ajaxStatus> 
        
        
    </ui:define>

    <ui:define name="right">
    </ui:define>


    <ui:define name="bottom">
    </ui:define>

</ui:composition>
