<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Report News
    </ui:define>

    <ui:define name="left">
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <h:panelGrid id="grid" columns="2">
                <h:outputLabel for="title" class="label label-important" value="Title"/>
                <h:inputTextarea id="title" cols="40" rows="1" value="#{newsReporterManager.freshNewsTitle}"
                                 style="margin: 0px 0px 10px; width: 366px; height: 22px;">
                    <f:validator validatorId="validators.newsTitleValidator"/>
                </h:inputTextarea>

                <h:outputLabel for="text" class="label label-important" value="Text"/>
                <h:inputTextarea id="text" cols="60" rows="5" value="#{newsReporterManager.freshNewsText}"
                                 style="margin: 0px 0px 10px; width: 472px; height: 167px;">
                    <f:validator validatorId="validators.newsTextValidator"/>
                </h:inputTextarea>

                <h:outputLabel for="tags" class="label label-info" value="Tags"/>
                <h:inputTextarea id="tags" cols="40" rows="1"  title="Make it space-separated keywords" value="#{newsReporterManager.freshNewsTags}"
                                 style="margin: 0px 0px 10px; width: 366px; height: 22px;">

                </h:inputTextarea>
                <h:commandButton value="Report" class="btn btn-success" action="#{newsReporterManager.reportFreshNews('index')}"/>
                <h:commandButton immediate="true" value="Reset" class="btn btn-warning" 
                                 actionListener="#{newsReporterManager.reset()}">
                    <f:ajax render="grid"/>
                </h:commandButton>
            </h:panelGrid>
        </h:form>
    </ui:define>

    <ui:define name="right">
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
