<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="top">
        Password reseter
    </ui:define>

    <ui:define name="left">
    </ui:define>

    <ui:define name="content">
        <h:form id="reseter">
            <div class="control-group">

                <h:panelGrid columns="3">
                    <span class="label label-important">Enter new password</span>

                    <div class="controls">
                        <p:password id="passwd"  value="#{reseterManager.newPassword}" 
                                    feedback="true" inline="true">
                            <f:validator validatorId="validators.passwordValidator"/>
                        </p:password>
                        <p:message id="defaultPasswdMessage" for="passwd" showSummary="true" showDetail="false"/>
                    </div>
                </h:panelGrid>
            </div>

            <div class="control-group">
                <h:panelGrid columns="3">
                    <span class="label label-important">Repeat new password</span>

                    <div class="controls">
                        <p:password id="repasswd"  value="#{reseterManager.newRepassword}" 
                                    feedback="true" inline="true"/>
                        <p:message id="defaultRepasswdMessage" for="repasswd" 
                                   showSummary="true" showDetail="false"/>
                    </div>
                </h:panelGrid>
            </div>

            <div class="control-group">

                <h:commandButton value="Done" 
                                 action="#{reseterManager.changePassword('index?faces-redirect=true')}" 
                                 styleClass="btn btn-success"/>
            </div>


        </h:form>

    </ui:define>

    <ui:define name="right">
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
