<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <title>Newsik</title>
        <ui:debug hotkey="a" rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}"></ui:debug>
    </h:head>

    <h:body>
        <div class="hero-unit">


            <div class="page-header text-center">
                <h1>
                    <ui:insert name="top">
                    </ui:insert>
                </h1>
            </div>





            <div class="text-center">
                <ui:insert name="content">
                </ui:insert>
                
                <div class="row-fluid" style="margin-top: 10%;">
                <h:form>
                    <h:commandButton class="btn btn-primary btn-large" value="Newsik"
                                     action="index?faces-redirect=true"/>
                </h:form>
            </div>
            </div>

            <div class="footer" style="margin-top: 10%;">
                <ui:insert name="bottom">
                </ui:insert>
            </div>   
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="./resources/js/bootstrap.min.js"></script>
    </h:body>

</html>
