<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="./resources/css/default.css" rel="stylesheet" media="screen"/>
        <title>Njusik</title>
        <ui:debug hotkey="a" rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}"></ui:debug>
    </h:head>
    <h:body>

        <div class="container">
            <div class="span12">
                <h1>
                    <h:form>
                        <p class="text-center">
                            <h:commandLink value="Njusik" action="index"/>
                        </p>
                    </h:form>
                    <div class="page-header">
                        <h1><small>
                                <ui:insert name="top">
                                </ui:insert>
                            </small></h1>
                    </div>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                        <ui:insert name="left">
                        </ui:insert>
                    </div>
                    <div class="span8">
                        <ui:insert name="content">
                        </ui:insert>
                    </div>
                    <div class="span2">
                        <c:set var="loggedIn" value="#{userManager.sessionManager.loggedIn}" scope="session"/>
                        <c:set var="userMail" value="#{userManager.sessionManager.userMail}" scope="session"/>
                        <c:set var="userName" value="#{userManager.sessionManager.name}" scope="session"/>
                        <c:set var="userLastName" value="#{userManager.sessionManager.lastName}" scope="session"/>



                        <c:choose>

                            <c:when test="#{loggedIn == true}">
                                <div>
                                    <div>


                                        <c:if test="#{userManager.sessionManager.admin and not adminManager.loggedAsAdmin}">

                                            <h:form>
                                                <h:commandButton value="Switch to admin's view"
                                                                 action="#{adminManager.logAsAdmin()}"
                                                                 class="btn btn-warning btn-small"/>
                                            </h:form>

                                        </c:if>

                                        <c:if test="#{adminManager.loggedAsAdmin 
                                                      and facesContext.viewRoot.viewId eq '/adminPanel.xhtml'}">
                                            <h:form>
                                                <h:commandButton value="Switch to normal view"
                                                                 action="#{adminManager.logOutFromAdmin()}"
                                                                 class="btn btn-danger btn-small"/>
                                            </h:form>
                                        </c:if>
                                        <c:if test="#{adminManager.loggedAsAdmin 
                                                      and facesContext.viewRoot.viewId ne '/adminPanel.xhtml'}">
                                            <h:form>
                                                <h:commandButton value="Back to admin's view"
                                                                 action="adminPanel?faces-redirect=true"
                                                                 class="btn bbtn-warning btn-small"/>
                                            </h:form>

                                        </c:if>


                                    </div>
                                </div>  
                                <div class="well well-small">
                                    <h:form id="loggedForm">

                                        <h:panelGrid columns="2">
                                            <span class="label">Logged as:</span>

                                            <c:if test="#{true}">
                                                <h:graphicImage url="#{userManager.sessionManager.pathToProfilePhoto}"
                                                                height="64" width="64"/>
                                            </c:if>
                                        </h:panelGrid>



                                        <c:choose>

                                            <c:when test="#{userName eq ''}">

                                                <h6>
                                                    <h:commandLink value="#{userMail}" class="text-warning" action="profile"/>
                                                </h6>
                                            </c:when>

                                            <c:otherwise>

                                                <h6>
                                                    <h:commandLink value="#{userName} #{userLastName}" action="profile"/>

                                                </h6>
                                            </c:otherwise>

                                        </c:choose>



                                        <h:panelGrid columns="2">



                                            <a href="#myModal" role="button"  data-toggle="modal">Change status</a>
                                            <h:form id="statusForm">
                                                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
                                                     aria-labelledby="myModalLabel" aria-hidden="true">



                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel">Update status</h3>
                                                    </div>
                                                    <div class="modal-body">


                                                        <h:inputTextarea value="#{userManager.newStatus}" 
                                                                         style="width: 504px; height: 40px;">
                                                            <f:validator validatorId="validators.statusValidator"/>
                                                        </h:inputTextarea>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        <button class="btn btn-primary"
                                                                         jsf:action="#{userManager.changeStatus()}" 
                                                                         type="button" data-dismiss="modal">Update

                                                            <f:ajax execute="statusForm"/>
                                                            </button>
                                                    </div>

                                                </div>
                                            </h:form>

                                            
                                        </h:panelGrid>
                                    </h:form>
                                </div>
                                <h:form>

                                    <div>
                                        <h:commandLink value="Report News" action="report?faces-redirect=true"
                                                         styleClass="text-error"/>
                                    </div>
                                    <div>
                                        <h:commandLink value="Main" action="index?faces-redirect=true" 
                                                         styleClass="text-info"/>
                                    </div>
                                </h:form>
                                <h:form>
                                    <div>
                                        <h:commandLink value="Log out" 
                                                         action="#{loginManager.logOut()}" 
                                                         class="text-warning"/>
                                    </div>
                                </h:form>

                            </c:when>

                            <c:otherwise>

                                <div>
                                    <h:form>
                                        <div>
                                            <h:commandButton value="Register" action="register?faces-redirect=true" styleClass="btn btn-primary"/>

                                            <h:commandButton value="Log in" action="logIn?faces-redirect=true" styleClass="btn btn-info"/>
                                        </div>
                                    </h:form>
                                </div>

                            </c:otherwise>

                        </c:choose>   



                        <div class="page-header text-center muted">
                            <h5>&copy; Radek Starczynowski</h5>
                            <h5><small>radek.starczynowski@gmail.com</small></h5>
                        </div>

                        <div>
                            <ui:insert name="right">
                            </ui:insert>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <ui:insert name="bottom">
                    </ui:insert>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="./resources/js/bootstrap.min.js"></script>
    </h:body>
</html>